/repo/etc/yum-sources.conf
/cobbler/distro_files/*
/puppet/environments/symphony/modules/multitemplate
/puppet/environments/symphony/modules/stdlib
/puppet/environments/symphony/modules/ntp
/puppet/environments/symphony/modules/ganglia
/puppet/environments/symphony/modules/firewalld
/puppet/environments/symphony/modules/symphonyrepo/templates/yum/
/monitor/nagios/plugins
/tools/*
/repo/iso/*
/puppet/environments/symphony/hieradata/site.yaml
/puppet/environments/symphony/hieradata/*
openstack/kilo/bin/vars
